<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Hallo <%= @user %>,</h3>
<p>
  Du hast <strong><%= @name %></strong> beim Wichteln gezogen.<br>
</p>
<p>
  Viele grüße vom Weihnachtsmann
</p>
</body>
</html>