<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hallo <%= @user %>,</h1>
<p>
  Du hast <%= @name %> beim Wichteln gezogen.<br>
</p>
<p>
  Viele grüße vom Weihnachtsmann
</p>
</body>
</html>