<div style="margin-left:37%; margin-top:20%; font-size:40px">

Du hast <strong><%= @opfer.name %></strong> gezogen.


  </div>
<div style="margin-left:37%; margin-top:20%; color:black">
  <%= button_to "Zurück", :back, method: :get %>
</div>